@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-400: #fa5252;
  --red-500: #e63946;
  --green-400: #40c057;
  --blue-grey-400: #748ca3;
  --blue-grey-500: #2c3e50;
  --blue-grey-600: #3e4a57;
  --grey-300: #e9ecef;
  --grey-400: #ced4da;
  --grey-500: #959495;
  --white: #fff;
  --black: #171a1d;

  /* [brand/bg/text(component)]-[primary/disabled/secondary]-[state(hover/focus/emphasize/invert)] */

  --bg-danger: var(--red-400);
  --bg-danger-emphasize: var(--red-500);
  --bg-success: var(--green-400);
  --bg-overdue: var(--red-500);
}

html {
  color-scheme: dark light;
}

html {
  color-scheme: light;
  --text-color: var(--blue-grey-500);
  --background-color: var(--white);
  --grey-border-color: var(--grey-400);
  --wrapper-border-color: var(--blue-grey-500);
  --add-button-bg-color: var(--blue-grey-500);
  --option-action-btn-bg-color: var(--white);
  --option-toggle-bg-color: var(--grey-300);
  --border: 3px solid var(--grey-border-color);
  --border-radius: 10px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    --text-color: var(--white);
    --background-color: var(--black);
    --grey-border-color: var(--blue-grey-600);
    --wrapper-border-color: var(--blue-grey-600);
    --add-button-bg-color: var(--blue-grey-600);
    --option-action-btn-bg-color: var(--blue-grey-600);
    --option-toggle-bg-color: var(--blue-grey-600);
  }
} */

html[data-theme="dark"] {
  color-scheme: dark;
  --text-color: var(--white);
  --background-color: var(--black);
  --grey-border-color: var(--blue-grey-600);
  --wrapper-border-color: var(--blue-grey-600);
  --add-button-bg-color: var(--blue-grey-600);
  --option-action-btn-bg-color: var(--blue-grey-600);
  --option-toggle-bg-color: var(--blue-grey-600);
}

body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

  background-color: var(--background-color);
  color: var(--text-color);
}

/******* css reset ********/
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    /* Use of box-shadow instead of background-color will enable the state of the radio to be visible when printed */
    box-shadow: inset 1em 1em var(--form-control-color, black);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
    /* checkmark shape */
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }

  &:focus-visible {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

  &:disabled {
    --form-control-color: var(--form-control-disabled);

    color: var(--form-control-disabled);
    cursor: not-allowed;
  }
}

input[type="color"] {
  &:focus-visible {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

  &::-webkit-color-swatch {
    border-radius: 50%;
    border: 1px solid gray;
  }
}

::-webkit-calendar-picker-indicator {
  padding: 0.25rem;
  cursor: pointer;
}

input[type="color"] {
  cursor: pointer;
}
